.easy {
  background-color: #60b963;
  font-family: 'Mali', cursive;
  font-size: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 20px;
}
.medium {
  background-color: #eea95c;
  font-family: 'Mali', cursive;
  font-size: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 20px;
}
.hard {
  background-color: #d74955;
  font-family: 'Mali', cursive;
  font-size: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 20px;
}
