@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');

.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  padding: 10px;
  background-color: white;
}

.App-logo {
  height: 7rem;
  pointer-events: none;
  padding-top: 15%;
}

.current__message {
  font-family: 'Mali', cursive;
  font-size: 12.2px;
}








